:root{

    --bg:#1b1b1b;

    --window:#242424;

    --title:#303030;

    --border:#4a4a4a;

    --text:#ffffff;

    --muted:#9c9c9c;

    --accent:#c89f42;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    background:#111;
    font-family:Segoe UI, sans-serif;
    overflow:hidden;
}

#app{
    width:100%;
    height:100%;
}

.os{
    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:var(--bg);
}

.window{

    width:700px;

    border:1px solid var(--border);

    background:var(--window);

    color:var(--text);

    box-shadow:0 0 40px rgba(0,0,0,.6);

}

.titlebar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:42px;

    padding:0 14px;

    background:var(--title);

    border-bottom:1px solid var(--border);

    user-select:none;

}

.content{

    padding:50px;

    text-align:center;

}

h1{

    margin-bottom:20px;

}

p{

    color:var(--muted);

}
.window-buttons{

    display:flex;

    gap:18px;

    color:var(--muted);

    font-size:14px;

    cursor:default;

}

.window-buttons span{

    transition:.2s;

}

.window-buttons span:hover{

    color:var(--text);

}
.status{

    margin-top:30px;

    min-height:40px;

    display:flex;

    justify-content:center;

    align-items:center;

}

#status-text{

    font-size:18px;

    color:var(--accent);

    font-weight:600;

    transition:.25s;

}